body {
 overflow-x: hidden;
 margin: 0;
 padding: 0;
 font-size: 18px;
 color: var(--tg-theme-text-color);
 background: var(--tg-theme-bg-color);
}

.container {
    max-width: 390px;
    display: grid;
    place-items: center;
    


   }




.blok{

display: block;
height: 290px;
width: 350px;
margin-top:40px;

color:lightgoldenrodyellow;

}













.png1{

    
  
  border: none;
  background-image: url('1.png');
  background-size: cover;

  
  padding: 0;


  

  
}
.png1:hover{
    opacity: 0.8;
}
.png1:active{

    transform: scale(0.95);

}

.text1{

  text-align: center;
  padding: 0px 200px 260px 0px;
  white-space: normal;
  word-wrap: break-word;
  width: 360px;

}























.png2{

  

border: none;
background-image: url('1.png');
background-size: cover;


padding: 0;





}
.png2:hover{
  opacity: 0.8;
}
.png2:active{

  transform: scale(0.95);

}

.text2{

text-align: center;
padding: 0px 200px 260px 0px;
white-space: normal;
word-wrap: break-word;
width: 360px;

}







