body {
 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
   }



   .men{
    border: none;
    border-bottom: 2px solid black;
    display: grid;
    justify-content: left;
    
   }
   .menu{
    display: block;
    
    padding: 0px;
    margin: 0px;
    background-color: aliceblue;
    animation: none !important;
    border: none;

   }



   
   .container {
       max-width: 390px;
       display: grid;
       place-items: center;
       
   
   
      }
   
   
   
   
   .blok{
    border: none;
    
    background-size: cover;
    background-position: center;
    display: block;
    height: 290px;
    width: 300px;
    padding: 0px;
   
   }

  





   

   .btn {
    padding: 10px 20px;
    border: none;
    background: lightgreen;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    height: 36px;
    width: 126px;
    position: absolute;
    bottom: 0px;

    
   }
   
   .btn:hover {
    
    background: rgb(248, 168, 24);
   }
   

   .price{
    margin: 0px;
    height: 36px;
    width: 126px;
    text-align: center;
    line-height: 36px;
    
    position: absolute;
    right: 0px;
    bottom: 0px;
   }
   
   .gran{
    height: 400px;
    width: 300px;
    background-color: var(--tg-theme-text-color);
    border:2.5px solid black;
    position: relative;
    margin: 10px 0px 0px 0px;

   }



   
   
   
   
   
   
   
   
   
   
   
   
   .png1{
   
       
     
     border: none;
     background-image: url('1.png');
     background-size: cover;
   
     
     padding: 0;
   
   
     
   
     
   }
   .png1:hover{
       opacity: 0.8;
   }
   .png1:active{
   
       transform: scale(0.95);
   
   }
   
   .text1{
   
     text-align: center;
     padding: 0px 200px 260px 0px;
     white-space: normal;
     word-wrap: break-word;
     width: 360px;
   
   }
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   