body {
 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600; 
    background: #1A1A1A;
    color:white;
   }



   



.menu{
 
  position: fixed;
  z-index: 10;
  left: 10px;
  top: 10px;
  padding: 0px;
  margin: 0px;
  animation: none !important;
  border: 2px solid #BF00FF; 
  box-shadow: 0 0 10px #BF00FF, 0 0 20px #BF00FF; 
  width: 80px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  background-color: black;
  color: #fff;
 }
   

   
   .container {
       max-width: 390px;
       display: grid;
       place-items: center;
       
   
   
      }
   
   
   
   

   .blok{
    border: none;
    
    background-size: cover;
    background-position: center;
    display: block;
    height: 290px;
    width: 300px;
    padding: 0px;
    border-radius: 15px ;
    border: 2px solid #BF00FF; 
    box-shadow: 0 0 30px #BF00FF, 0 0 30px #BF00FF; 
    
   
   }

  





   

   .btn {
    
    
    background: #BF00FF;
    border: 2px solid #BF00FF; 
    box-shadow: 0 0 10px #BF00FF, 0 0 20px #BF00FF; 
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    height: 36px;
    width: 126px;
    position: absolute;
    bottom: 5px;
    left: 5px;

    
   }
   
   
   

   .price{
    margin: 0px;
    height: 36px;
    width: 126px;
    text-align: center;
    line-height: 36px;
    
    position: absolute;
    right: 0px;
    bottom: 6px;
   }
   

   .gran{
    height: 420px;
    width: 300px;
    background-color: #1A1A1A;
    border-radius: 15px;
    /*border: 2px solid #BF00FF; 
    box-shadow: 0 0 10px #BF00FF, 0 0 20px #BF00FF;*/
    position: relative;
    margin: 40px 0px 0px 0px;

   }



   
   
   
   
   
   
   
   
   
   
   
   
   .png1{
   
       
     
     border: none;
     background-image: url('1.png');
     background-size: cover;
   
     
     padding: 0;
   
   
     
   
     
   }
   
   
   .text1{
   
     text-align: center;
     padding: 0px 200px 260px 0px;
     white-space: normal;
     word-wrap: break-word;
     width: 360px;
   
   }
   
   
   
   
   
   
   
   
  
  
  
  
   
   
   
   
   
   
   
   
   
   
   
   
   